<h2>Destinations</h2>
<table class="job-table destination-table">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>URI</th>
        <th>Actions</th>
    </tr>
    {% if destinations %}
        {% for destination in destinations %}
            {% include 'partials/destination_row.html' %}
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4" class="empty-directory">
                No destinations defined yet. Add your first destination below.
            </td>
        </tr>
    {% endif %}
</table>