{% if repo_type and repo_schemas[repo_type] %}
{% set schema = repo_schemas[repo_type] %}
<div class="path-group">
    <h3 class="path-header">
        <span>{{ schema.display_name }} Configuration</span>
    </h3>
    
    {% for field in schema.fields %}
<div class="form-group">
    {% if field.type == 'text' or field.type == 'email' or field.type == 'number' %}
    <label for="{{ field.name }}">{{ field.label }}:</label>
    <input type="{{ field.type }}" 
           id="{{ field.name }}" 
           name="{{ field.name }}" 
           value="{{ field_values[field.name] if field_values and field.name in field_values else '' }}"
           {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
           {% if field.min %}min="{{ field.min }}"{% endif %}
           {% if field.max %}max="{{ field.max }}"{% endif %}
           {% if field.required %}required{% endif %}
           {% if repo_type == 'rest' %}
           hx-post="/htmx/restic-uri-preview"
           hx-target="#uri_preview_container"
           hx-include="[name='restic_repo_type'], [name^='rest_']"
           hx-trigger="input delay:300ms"
           {% endif %}>
    {% if field.help %}
    <div class="help-text">{{ field.help }}</div>
    {% endif %}
    
    {% elif field.type == 'password' %}
    <label for="{{ field.name }}">{{ field.label }}:</label>
    {% set field_id = field.name %}
    {% set field_name = field.name %}
    {% set field_value = field_values[field.name] if field_values and field.name in field_values else '' %}
    {% set placeholder = field.placeholder %}
    {% set hidden = true %}
    {% include 'partials/password_field.html' %}
    {% if field.help %}
    <div class="help-text">{{ field.help }}</div>
    {% endif %}
    
    {% elif field.type == 'checkbox' %}
    <label>
        <input type="checkbox" 
               name="{{ field.name }}" 
               {% if field_values and field_values[field.name] %}checked{% endif %}
               {% if repo_type == 'rest' %}
               hx-post="/htmx/restic-uri-preview"
               hx-target="#uri_preview_container"
               hx-include="[name='restic_repo_type'], [name^='rest_']"
               hx-trigger="change"
               {% endif %}> 
        {{ field.label }}
    </label>
    {% if field.help %}
    <div class="help-text">{{ field.help }}</div>
    {% endif %}
    
    {% endif %}
</div>
{% endfor %}

{% if repo_type == 'rest' %}
    <div class="form-group">
        <label>Generated URI:</label>
        <div id="uri_preview_container" class="uri-preview">
            <code>http://hostname:8000/repo</code>
        </div>
        <div class="help-text">This is the URI that will be used for the repository</div>
    </div>
{% endif %}

</div>
{% endif %}