<!DOCTYPE html>
<html>
<head>
    <title>Configuration Manager - Highball</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{{ theme_css_path }}">
    <script src="/static/htmx.min.js"></script>
    <script src="/static/nav.js"></script>
</head>
<body>
    <div class="container">
        <div id="navigation"></div>
        
        <h1>Configuration Manager</h1>
        
        <form method="post" action="/save-config" enctype="multipart/form-data">
            
            <!-- Global Settings -->
            {% include 'partials/global_settings_section.html' %}
            
            <!-- Schedule Defaults -->
            {% include 'partials/schedule_defaults_section.html' %}
            
            <!-- Notification Settings -->
            {% include 'partials/notification_section.html' %}
            
            {% include 'partials/config_form_actions.html' %}
            
        </form>
        
        <!-- Advanced Options -->
        {% include 'partials/advanced_options_section.html' %}
    </div>
    
</body>
</html>
