<!DOCTYPE html>
<html>
<head>
    <title>Highball</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{{ theme_css_path }}">
    <script src="/static/htmx.min.js"></script>
    <script src="/static/nav.js"></script>
</head>
<body>
    <div class="container">
        <div id="navigation"></div>
        
        <h1>Highball Dashboard</h1>
        
        {% if config_warning %}
        {{ config_warning | safe }}
        {% endif %}
        
        {% include 'partials/backup_jobs_section.html' %}
        
        {% include 'partials/deleted_jobs_section.html' %}
    </div>
</body>
</html>
