<!-- Restic Repository Browser Component -->
<div class="section-container">
    <h2 class="section-header">Restic Repository Browser</h2>
    <p>Browse snapshots and files in Restic repositories.</p>
    
    <select id="resticJobSelect" onchange="loadResticRepository()">
        <option value="">Select a Restic job...</option>
        {{RESTIC_JOB_DROPDOWN}}
    </select>
    
    <div id="resticBrowserContent" class="hidden restic-browser">
        <div id="resticRepositoryInfo" class="restic-repository-info">
            <!-- Repository information will be displayed here -->
        </div>
        
        <div id="resticSnapshotSection" class="hidden">
            <label for="resticSnapshotSelect">Select Snapshot:</label>
            <select id="resticSnapshotSelect" onchange="loadSnapshotDetails()">
                <option value="">Select a snapshot...</option>
            </select>
        </div>
        
        <div id="resticSnapshotDetails" class="hidden restic-snapshot-details">
            <h4>Snapshot Details</h4>
            <div id="snapshotInfo"></div>
        </div>
        
        <div id="resticFileTree" class="hidden restic-file-tree">
            <h4>File Browser</h4>
            <div id="resticSelectionInfo" class="selection-info hidden">
                <span id="selectionCount">0 items selected</span>
                <button onclick="clearSelection()" class="button button-warning">Clear Selection</button>
            </div>
            <div id="resticTreeContainer" class="tree-container">
                <!-- File tree will be populated here -->
            </div>
        </div>
        
        <div id="resticError" class="hidden error-message">
            <!-- Error messages will be displayed here -->
        </div>
    </div>
</div>